In [4]:
import numpy as np
import pandas as pd
import os 
import sys
sys.path.append('../')
from utils import helpers

In [386]:
df = helpers.load_data(96835502).reset_index()

In [387]:
df

       index                sep= Unnamed: 1
0  ="Cereal"  ="Chocolate Candy"  ="Coffee"
1        578                 311        261
2        320                 106        185
3        264                 109        302
4        249                 125        689
5        237                 173        NaN

In [388]:
columns = list(map(lambda x: x[2:-1], df.loc[0]))
data = df.loc[1:].copy()
data.columns = columns

In [389]:
values = data.T

In [390]:
values

                   1    2    3    4    5
Cereal           578  320  264  249  237
Chocolate Candy  311  106  109  125  173
Coffee           261  185  302  689  NaN

In [391]:
values.iloc[0].astype(int).mean()

329.6

In [392]:
ns = np.array([5, 5, 4])
means = np.array([329.6, 164.8, 392.25])

In [393]:
GM = means.dot(ns) / ns.sum()

In [394]:
num_sum = 0
for n, calc_val in zip(ns, means):
    num_sum += (n * (calc_val.mean()-GM)) ** 2
var_between = num_sum / (len(values) - 1)

In [395]:
var_between

504829.6875

In [396]:
row_vars = np.array([20292.3, 7399.2, 60])

In [397]:
minus_ones = ns - 1
var_within = minus_ones.dot(row_vars) / minus_ones.sum()

In [398]:
var_within

16566.153846153848

In [399]:
F = var_between / var_within

In [400]:
F

30.473560259565378

In [271]:
def x_bar_and_variances(df) -> np.array:
    results = []
    for col in df.columns:
        try:
            vals = df[col].astype('int64').values
        except ValueError:
            vals = df[col].dropna().astype('int64').values
        x_bar = vals.mean()
        n = len(vals)
        sum_squares = (vals**2).sum()
        squared_sum = vals.sum() ** 2
        var = ((n*sum_squares) - squared_sum)/(n*(n-1))
        results.append(np.array([x_bar, var, ]))
    return np.array(results)

In [272]:
x_var = x_bar_and_variances(data)

AttributeError: 'int' object has no attribute 'dot'

In [273]:
GM = x_var.T[0].mean()

In [262]:
var_between = (((x_var.T[0] - GM)**2) * x_var.T[-1]).sum() / (x_var.shape[-1] - 1)

In [263]:
var_between

2459061.53125

In [264]:
n_minus_1 = x_var.T[-1] - 1
var_within = (n_minus_1 * x_var.T[1]).sum() / n_minus_1.sum()

In [265]:
var_within

7190377.475

In [266]:
F_test = var_between/var_within

In [267]:
F_test

0.3419933848813688

In [173]:
(data.iloc[:,0].astype(int).values ** 2).sum()

118518835

In [174]:
f_crit = 5.26

In [175]:
data.count().sum()

20

In [382]:
x_bars = np.array([329.6, 164.8, 359.25])
x_vars =np.array([20292.3, 7399.2, 50676.25])
x_ns = np.array([5, 5, 4])

In [383]:
data  = np.array([x_bars, x_vars, x_ns])

In [384]:
df_numer = len(x_bars) - 1
df_denom = x_ns.sum() - len(x_bars)

In [385]:
df_numer, df_denom

(2, 11)

In [369]:
critical_value = 7.21
F_prime = (len(x_bars) - 1)*critical_value

In [370]:
F_prime

5.52

In [371]:
n_minus_one = x_ns - 1
var_between = n_minus_one.dot(x_vars)/ n_minus_one.sum()

In [372]:
var_between

16566.153846153848

In [373]:
def run_f_test(data: np.array,
               x1=0,
               x2=1,
               var_between=var_between,
               F_prime=F_prime) -> tuple:
    """
    """
    group1 = data.T[x1]
    group2 = data.T[x2]
    F_test = (group1[0]-group2[0])**2 / (var_between*((1/group1[-1]) + (1/group2[-1])))
    result = F_test > F_prime
    return result, round(F_test, 2)

In [374]:
data.T

array([[  970, 23880,     6],
       [  764, 18330,     5],
       [  740,  5660,     5]])

In [375]:
run_f_test(data)

(True, 6.99)

In [376]:
run_f_test(data, 1, 2)

(False, 0.09)

In [377]:
run_f_test(data, 0, 2)

(True, 8.71)

In [ ]:
def var_between(x_vars):
    """
    """
    gm = x_bars.sum()/len(x_vars)